# SPDX-FileCopyrightText: 2020 Benedict Harcourt <ben.harcourt@harcourtprogramming.co.uk>
#
# SPDX-License-Identifier: CC0-1.0

/venv/
/node_modules/

/.ruff_cache
/.mypy_cache
__pycache__/

/games.db
/ssl.cert

/.idea/
